Checks: >
  -*,
  bugprone-*,
  -bugprone-unchecked-optional-access,
  -bugprone-easily-swappable-parameters,
  concurrency-*,
  performance-*,
  clang-analyzer-*,
  misc-*,
  -misc-const-correctness,
  -misc-no-recursion,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-emplace,
  readability-container-size-empty,
  readability-redundant-smartptr-get
WarningsAsErrors: ''
HeaderFilterRegex: 'lib/src/.*'