# CMake
build/
CMakeUserPresets.json
compile_commands.json
.cache/
# Rust
target/
# Zig
.zig-cache/
zig-out/
# Visual Studio
.vs/
# Neovim
out/
# Mac
.DS_Store
# Dev Personal Stuff
temp
# Code Coverage
LastCoverageResults.log
CombinedCoverage
