name: "CI"

on:
    workflow_dispatch:

jobs:
    sync-x64:
        runs-on:
            - self-hosted
            - Linux
            - X64
        steps:
            - run: pwd
            - run: vci help
